@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@font-face {
  font-family: "VEN";
  src: url("../public/fonts/VenDisplayTypeface/VEN.otf");
}
@font-face {
  font-family: "HanNomMinh";
  src: url("../public/fonts/HanNomMinh/HanNomMinh.otf");
}
@font-face {
  font-family: "AileronHeavy";
  src: url("../public/fonts/Aileron/Aileron-Heavy.otf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}
