.polygon-general{
  filter: drop-shadow(0px 3px 6px #00000029);
  position: absolute;
}
.circle1 {
  /* Layout Properties */
  top: 260px;
  left: 51px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  transform: matrix(-0.97, -0.26, 0.26, -0.97, 0, 0);
  /* UI Properties */
  background: transparent linear-gradient(176deg, #ffd5e3 0%, #b485d2 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.75;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
}
.circle2 {
  /* Layout Properties */
  top: 435px;
  border-radius: 50%;
  left: 472px;
  width: 130px;
  height: 130px;
  position: absolute;
  transform: matrix(-0.97, -0.26, 0.26, -0.97, 0, 0);
  /* UI Properties */
  background: transparent linear-gradient(176deg, #e6d65a 0%, #b485d2 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.6;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
}
.rectangle1 {
  /* Layout Properties */

  position: absolute;
  border-radius: 20%;
  top: 484px;
  left: 454px;
  width: 208px;
  height: 207px;
  transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
  /* UI Properties */
  background: transparent
    linear-gradient(159deg, #ec5d5d 0%, #35944ec9 40%, #bcd223a6 100%) 0% 0%
    no-repeat padding-box;
  border: 3px solid #ffffff52;
  border-radius: 34px;
  opacity: 0.35;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.circle3 {
  /* Layout Properties */
  position: absolute;
  border-radius: 50%;
  top: 191px;
  left: 700px;
  width: 412px;
  height: 412px;
  transform: matrix(-0.97, -0.26, 0.26, -0.97, 0, 0);
  /* UI Properties */
  background: transparent
    linear-gradient(176deg, #cb3d6c 0%, #d4af56 65%, #b485d2 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.65;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
}
.triangle1 {
  /* Layout Properties */
  /* UI Properties */
  background: none no-repeat padding-box;
  opacity: 1;
  /* backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px); */
  fill: #000;
  stroke: #000;
  stroke-width: 60;
  position: absolute;
  border-radius: 20%;
}
.triangle2 {
  /* Layout Properties */
  top: 453px;
  left: 569px;
  width: 275px;
  height: 238px;
  /* UI Properties */
  background: transparent no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px);
  fill: radial-gradient(closest-side at 68% 21%, #ed3d3a 0%, #d4af56 100%) 0% 0%;
  clip: revert;
}
.hexagon1 {
  /* Layout Properties */
  position: absolute;
  top: 567px;
  left: 294px;
  width: 275px;
  height: 238px;
  /* UI Properties */
  background: transparent;
  opacity: 0.65;
  backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px);
}
